:root {
	font-size: 16px;
}

nav {
	font-size: 3.5rem;
	display: flex;
	justify-content: flex-end;
}

/*

.navleft {
	font-size: 3.5rem;
	display: flex;
	justify-content: flex-start;
}

*/

li {
	display: inline;
	align-content: flex-end;
	margin-right: 35px;
	margin-top: -50px;
}

.navborder {
	border: 10px solid black;
}
